body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 4.5fr;
}

.sidebar{
    background-color: #1992d4;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 40px;
}

.header{
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.body{
    background-color: #e2e8f0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
}

.container .header{
    position: relative;
    z-index: 1;
    box-shadow: 1px 1px 3px grey;
}

.larger{
    font-size: larger;
    font-weight: bold;
}

.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projectContainer{
    border-bottom: 2px solid black;
}

.cardContainer{
    padding-left: 10px;
    gap: 10px;
}

.todoContainer{
    padding: 10px 0 10px 30px;
    gap: 10px;
    border-top: 1px solid grey;
    display: flex;
    justify-content: space-between;
}

.todoButtonContainer{
    display: flex;
    padding-right: 10px;
}

#lowPriority{
    background-color: lightgreen;
}

#mediumPriority{
    background-color: lightyellow;
}

#highPriority{
    background-color: lightcoral;
}

.XL{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vh;
    font-weight: bolder;
}

.cardButton{
    background-color: #1992d4;
    color: white;
    font-size: large;
    font-weight: bold;
    border: 0px;
    padding: 10px 20px;
    border-radius: 40px;
    margin: 10px;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    right: 0;
    bottom: 0;
    background-color: white;
    border:5px solid #1992d4;
    border-radius: 30px;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    align-items: center;
    justify-content: center;
  }